.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  // ❗️❗️❗️ The path to images from a SASS file
  // is always the same as from the css folder.
  background-image: url('../images/logo.png');
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
}

.is-hidden{
  opacity: 0;
}

.gallery{
//  width: 1600px;
display: flex;
margin-right: 20px;
flex-wrap: wrap;
gap:10px;
// outline: 2px red solid;
margin: 0 auto;
padding: 60px 100px;
}

.photo-card {
  margin: 0 auto;  
  background-color: rgba(212, 212, 199, 0.3);
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.load-more {
  
  margin: 0 auto 30 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  background-color: rgb(228, 243, 11);
  border: blue 3px solid;
  border-radius: 10px 10px;
    min-width: 150px;
  height: 40px;
}

.load-more:is(:hover,:focus),
form > button:is(:hover,:focus) {
  background-color: rgb(11, 243, 50);
}

form > input:is(:hover, :focus) {
  border: rgb(11, 243, 50) 2px solid;
}

img {
  border-radius: 0 0 6px 6px;
}

.info {
  display: flex;
}

.info-item {
  display: flex;
  flex-direction: column;
    align-items: center;
  padding-left: 15px;
  color: black;
}

form > button:disabled {
background-color: rgba(143, 168, 236, 0.2);
}

.search-form {
  
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form > input {
  border: yellow 3px solid;
  background-color: rgba(143, 168, 236, 0.2);
  min-width: 400px;
  height: 40px;
  border-radius: 10px 10px;
  padding-left: 10px;
}

form > button {
  color: blue;
  background-color: rgb(228, 243, 11);
  border: blue 3px solid;
  border-radius: 10px 10px;
  margin-left: 30px;
  min-width: 150px;
  height: 40px;
}
